<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cherryapp">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cherry_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cherry_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".MyBluetoothService"
            android:exported="false"></service>

        <activity android:name=".FightActivity" />
        <activity android:name=".DebuggingActivity" />
        <activity android:name=".TuningActivity" />
        <activity android:name=".TacticActivity" />
        <activity android:name=".BasicActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>